---
layout: page
title: On Complexity
---
<div class="pageIntro"> <!-- EW added class pageIntro, removed span10 -->
    <div class="jumbotron">
      <p class="lead">Posts detailing our approach to risk and complexity.</p>
    </div>
</div>

  <hr class="sectionRule">

<div class="article-list">
  {% for article in site.categories.commentary %}

  {% if forloop.index0 == 0 %}
  <div class="article-featured">
      {% include blog_featured.html article=article %}
  </div>
  <hr/> 
  {% else %}
  <div class="article-featured article-summary">
      {% include blog_featured.html article=article %}
  </div> 
  <hr/>
  {% endif %} 
    
{% endfor %}

</div>
