---
title: Research
layout: page
---

<div class="home">


  <div class="pageIntro"> <!-- EW added class pageIntro, removed span10 -->
      <div class="jumbotron">
        <p class="lead">Insights from academic research and industry.
        </p>
      </div>
  </div>

  <hr class="sectionRule">

  {% for article in site.categories.research %}

  <div class="row-fluid whitepaper"> 
    <div class="span8"> 
          <a class="article-link" href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}
          {% if article.subtitle %}
            : {{article.subtitle}} 
          {% endif %}
          </a>
    </div>
  {% if article.pdf_path %}
  <div class="span4"> 
      <a href="{{ article.pdf_path | prepend: site.baseurl }}"
        >[pdf]</a>
  </div>
  {% endif %}

  {% if article.description %}
  <div class="row-fluid"> 
    <div class="span12" <small=""> 
        {{ article.description }}
     </div>
   </div>
   {% endif %}
</div> 
    
{% endfor %}

</div>
