<div id="footer">
  <div class="row-fluid footer">
    <div class="span7 contact"> 
       <a class="footerContact" href="mailto:contact@system-logic.com">contact@system-logic.com</a> <!-- EW added class footerContact -->
    	  <br>
    	  <span id="gc-number-0" class="gc-cs-link" title="Call with Google Voice">(646) 543-4250</span>
    </div>
    <div class="span5 social"> <!-- EW added class social -->
      <div class="twitter-button"> <!-- EW added class twitter-button -->
        	  <a href="*">
              <img src="/assets/images/twitter-button.png" alt="twitter">
            </a>
      </div>
      <div class="rss-follow"> <!-- EW added class rss-follow -->
            <a href="*">
              <img src="/assets/images/rss-follow.png" alt="rss">
            </a>
      </div>
    </div>
  </div>
</div>

<div class="footerCopyright"> <!-- EW added pulled copyright and contact out of "main-container" --> <!-- EW added class footerCopyright -->
	  © Copyright 2013
	  by <a class="mailContact" href="mailto:contact@system-logic.com">System
	  Logic LLC</a>.
</div>
