<div class="row-fluid"> 
  <div class="span2 logo">
    <a href="/">
      <img alt="System logic logo small optimized" id="sl-logo" src="/assets/images/system-logic-logo-small-optimized.png">
    </a>
  </div>
  <!--EW added mobile menu button-->
  <div class="span10 menuButton">
    <a href="#primaryNav"> <!-- EW added <a> link to #primaryNav at bottom of page -->
        <img src="/assets/images/menu-unselected.png" alt="menu">
    </a>
  </div> 
</div>

<hr class="headerRule"> <!-- EW Added class headerRule for rule under nav -->
