
  <hr class="navRule"> <!-- EW added class navRule -->

  <div class="navWrapper"> <!--EW removed "span12", added class "navWrapper"-->
    <div id="primaryNav"> 
      <ul class="nav nav-tabs nav-buffer">
        <li id="overview-nav" class="active">
          <a href="./">Overview</a>
        </li>
        <li id="services-nav" class="">
          <a href="services.html">Services</a>
        </li>
        <li id="team-nav" class="">
          <a href="team.html">Team</a>
        </li>
        <li id="white-papers-nav" class="">
          <a href="whitepapers.html">White Papers</a>
        </li>
        <li id="blog-nav" class="">
          <a href="#">Blog</a>
        </li>
        <li id="contact-nav" class="">
          <a href="contact.html" class="last">Contact</a> <!-- Swayspace added class "last" -->
        </li>
        <li id="topOfPage"> <!--EW added id "topOfPage"-->
          <a href="file:///Volumes/Swayspace/Projects/System%20Logic/web/Manage%20Complexity%20%20System%20Logic-mobile.html">Top</a>
        </li>
      </ul>
    </div>
  </div>
