
  <hr class="navRule"> <!-- EW added class navRule -->

  {% assign page_titles = "Overview|Services|Team|Blog|Research|Contact" | split: "|" %}

  <div class="navWrapper"> <!--EW removed "span12", added class "navWrapper"-->
    <div id="primaryNav"> 
      <ul class="nav nav-tabs nav-buffer">
         {% for node in page_titles %}
          {% assign page_filename = node | downcase | replace: ' ', '_' %}
         {% if node == page.title %}
           {% assign css_class="class='active'" %}
         {% else %} 
           {% assign css_class="" %}
         {% endif %}

         <li id="{{page_filename}}-nav" {{css_class}}>
         <a href="/{{page_filename}}.html" 
        {% if forloop.last %}
           class="last"
        {% endif %}
        >{{node}}</a>
         </li>
         {% endfor %} 
        <li id="topOfPage"> <!--EW added id "topOfPage"-->
          <a href="file:///Volumes/Swayspace/Projects/System%20Logic/web/Manage%20Complexity%20%20System%20Logic-mobile.html">Top</a>
        </li>
      </ul>
    </div>
  </div>
